strict-peer-dependencies=false
shell-emulator=true

# for electron
# https://github.com/pnpm/pnpm/issues/3415
# https://github.com/pnpm/pnpm/issues/5724#issuecomment-1345780170
# shamefully-hoist=true
node-linker=hoisted
