strict-peer-dependencies=false
shell-emulator=true

# for electron
# https://github.com/pnpm/pnpm/issues/3415
# https://github.com/pnpm/pnpm/issues/5724#issuecomment-1345780170
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true
# node-linker=hoisted
